@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica' sans-serif;
}

html,body{
    scroll-behavior: smooth !important;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    }
    
    html::-webkit-scrollbar{
    display:none;
    }

:root{
    --background: #CCD5AE;
    --forms: #FEFAE0;
    --buttons: #C8B6A6;
    --active: #FAEDCD;
    --subcolor: #E9EDC9;
}
form{
    background-color: var(--forms);
}
.custom-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
}

.active{
    background-color: var(--active) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hover{
    background-color: var(--active) !important;
}

.content-wrapper{
    margin-top: 5rem;
}
#navbarContent{
    background-color: #E9EDC9;
    padding:0;
}

.section{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 200px;
    /* padding-top: 80px;
    padding-bottom: 80px; */
}
.nav-link:hover{
    background-color: var(--active);
}



/* FOR DESKTOP VIEW */
@media (min-width:992px){
    .navbar{
        width: 200px;
        min-height: 100vh;
        background-color: #E9EDC9 !important;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column !important;   
    }
    #navbarContent{
        width: 100%;
        justify-content: start;
        align-items: start;
        margin-top: 3rem;
    }
    ul{
        width: 100%;
        margin: 0 0 0 0;
        font-weight: bold;
    }
    .flex-lg-column{
        min-height: 100vh;
        padding: 0 !important;
        margin-top:3rem;
    }
    .navbar-brand{
        margin: auto;
    }
    #content-wrapper{
        padding-left:200px;
    }
    .section{
            min-height: 100vh;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding-top: 145px;
            padding-bottom: 80px;
    }

    


}